
<div id="container" class="row-fluid">

	<div id="pie-container">
		<div id="toppings"></div>
		
		<!-- <i id="info-button" class="icon-info-sign"></i> -->
	</div>
	
	<div id="stats-box">
		<strong id="counter-total"></strong> | <strong id="counter-hits"></strong>
		<h3 id="counter-approximation"></h3>
	</div>
	
	<div id="controls">
		<a id="btn-continue" class="btn btn-success btn-large"><i class="icon-play"></i> Continue</a>
		<a id="btn-pause" class="btn btn-warning btn-large"><i class="icon-pause"></i> Pause</a>
	</div>
</div>