@charset "utf-8";

body {
  padding: 60px 0;
  background: violet;
}

#stats-box {
  margin: 0px auto;
  margin-top: 30px;
  text-align: left;
}

#pie-container {
  background: url('../images/cheese_pizza.png') no-repeat center;
  border: 1px solid black;
  height: 400px;
  width: 400px;
  margin: 0px auto;
  position: relative;

  img {
    position: absolute;	
  }
}

#toppings {
  position: absolute;
}

#info {
  position: relative;
  height: 40px;
  line-height: 36px;
  
  #info-button {
    vertical-align: middle;
  }
}