---
title: FindPie
---

<div id="container" class="row">
  <div class="span6">
    <div id="pie-container">
      <div id="toppings"></div>
    </div>
  </div>
  <div class="span6" style="padding-top: 100px;">
    <div id="controls">
      <button id="btn-continue" class="btn btn-large btn-success"><i class="icon-play"></i> Continue</button>
      <button id="btn-pause" class="btn btn-large btn-warning"><i class="icon-pause"></i> Pause</button>
    </div>
    <div id="stats-box">
      <strong id="counter-hits"></strong><br/>
      <strong id="counter-total"></strong><br/>
      <h3 id="counter-approximation"></h3>
    </div>
  </div>
</div>