---
title: FindPie
---

<div id="container">
  <div class="row-fluid">
    <div class="span12">
      <h1 style="text-align: center;">About</h1>
      <p style="text-align: center;">A savory variation on the classic program to approximate PI.</p>
    </div>
  </div>
</div>
